.word-line {
    display: grid;
    gap: 0 var(--letter-gap);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    
}

.word-line.ativo > * {
    background-color: transparent;
    border: 0.125em solid #4c4347;
}