* {
  outline: none;
  touch-action: manipulation;
}

body {
  margin: 0;
  font-family: Mitr, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6e5c62;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
